[submodule "components/yaml"]
	path = components/yaml
	url = git@github.com:chimeframework/yaml.git
[submodule "components/httpcontext"]
	path = components/httpcontext
	url = git@github.com:chimeframework/httpcontext.git
[submodule "components/httpkernel"]
	path = components/httpkernel
	url = git@github.com:chimeframework/httpkernel.git
[submodule "components/config"]
	path = components/config
	url = git@github.com:chimeframework/config.git
[submodule "components/eventdispatcher"]
	path = components/eventdispatcher
	url = git@github.com:chimeframework/eventdispatcher.git
[submodule "components/routing"]
	path = components/routing
	url = git@github.com:chimeframework/routing.git
[submodule "bundles/framework"]
	path = bundles/framework
	url = git@github.com:chimeframework/bundle.git
